.c-unsubscribe
	background-image: url(../img/bg.png), linear-gradient(to top, #f7e644 0%, #dabc2d 100%)
	background-repeat: no-repeat
	border-radius: 50%
	padding: em(111) em(92) em(68)
	background-size: contain
	text-align: center
	+mediaMobileToTablet
		background-image: url(../img/bg.png)
		border-radius: 10
		padding: em(10)
		background-size: em(200)
		background-position: center em(20)
	&__wrp
		// border-radius: 50%
		+mediaMobileToTablet
			background-image: linear-gradient(to top, #f7e644 0%, #dabc2d 100%)
			border-radius: 0
	&__header
		text-align: center
		margin-top: em(10, 24)
	&__unsubscribe-descr
	&__reason-heading
	    margin-top: em(30)
	    margin-bottom: 0
	&__help-us
		margin-top: em(10, 14)
		+mediaMobileToTablet
			margin-top: em(30, 10)
	&__form
		margin-top: em(8)
		&--to-left
			display: inline-block
			text-align: left
			.c-custom-radio__label::before
				left: 2px
				+mediaMobileToTablet
					top: 0
					left: 45%
			.c-custom-radio
				padding-left: 32px
				+mediaMobileToTablet
					padding-left: 0
	&__submit
		display: block
		margin: em(31) auto 0
		padding: em(13) em(52)



.c-resub
	padding: 0 em(101)
	margin-top: em(30)
	text-align: center
	&__button
		padding: em(12) em(81)
		margin-top: em(11)
	&__button-text
		text-transform: uppercase
		letter-spacing: em(0.7)
	+mediaMobileToTablet
		padding: em(10)

